<?xml version="1.0"?>
<!--
  ~ Copyright (c) Zengliwei. All rights reserved.
  ~ Each source file in this distribution is licensed under OSL 3.0, see LICENSE for details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="create_module" xsi:type="object">
                    CrazyCat\ModuleBuilder\Console\Command\CreateModule
                </item>
                <item name="create_model" xsi:type="object">
                    CrazyCat\ModuleBuilder\Console\Command\CreateModel
                </item>
                <item name="create_adminhtml_ui" xsi:type="object">
                    CrazyCat\ModuleBuilder\Console\Command\CreateAdminhtmlUi
                </item>
            </argument>
        </arguments>
    </type>
</config>
